{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
	<meta name="description" content="Alex Van Holtz is a web developer in Orlando, Florida.">
	<meta name="keywords" content="alex van holtz, web developer, orlando, florida">

	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />

	<!--[if (gt IE 8) | (IEMobile)]><!-->
	<link rel="stylesheet" href="{{ craft.config.environmentVariables.baseUrl }}assets/css/unsemantic-grid-responsive.css" />
	<!--<![endif]-->

	<!--[if (lt IE 9) & (!IEMobile)]>
	<link rel="stylesheet" href="{{ craft.config.environmentVariables.baseUrl }}assets/css/ie.css" />
	<![endif]-->

	<link href="http://fonts.googleapis.com/css?family=Open+Sans:600,400,400italic,700normal,700italic" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="{{ craft.config.environmentVariables.baseUrl }}assets/css/main.css" />

	<!--[if lt IE 9]>
	<script src="{{ craft.config.environmentVariables.baseUrl }}assets/js/html5.js"></script>
	<![endif]-->

</head>

<body>
	<div id="wrapper" class="grid-container grid-parent">

		{% block content %}
			<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
			<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
		{% endblock %}
	</div><!-- #wrapper -->

	<footer class="grid-100 mobile-grid-100 grid-container">

		<div class="grid-50 mobile-grid-50">{{ footer.body|default("{{ 'now'|date('Y') }}") }}</div>

		<div class="grid-50 mobile-grid-50" id="social-links">
			<ul>
				{% for link in footer.socialLinks %}
					<li><a target="_blank" href="{{ link.linkUrl }}" class="icon-{{ link.type }} text-hide" title="Visit {{ link.type.name }}">{{ link.type.name }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</footer>

	<script src="{{ craft.config.environmentVariables.baseUrl }}assets/js/jquery.js"></script>
	{% includeJs analytics.javascript %}
	
</body>
</html>